<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/sidebar') %>
    <main>
    <%- body %>
  </main>
  <%- include('partials/footer') %>
</body>
</html>